<div class="row">
    <div class="col" (click)=clickAliment($event)>{{aliment.libelle}}
        <div *ngIf=detail>
            Quantite : <input id="inputQuantite"  [(ngModel)]='quantite' (keyup)=inputKeyUp($event.keyCode)/>g
            <br/>
            Proteines : {{aliment.proteines}}g
            <br/>
            Lipides : {{aliment.lipides}}g
            <br/>
            Glucides : {{aliment.glucides}}g
            <br/>
        </div>
    </div>
    <div class="col">
    <button class="btn btn-danger" (click)=onDelete()>Supprimer</button>
    </div>
</div>